# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake

/3rdparty/curl-7.40.0.tar.gz
/3rdparty/curl-7.40.0/
/3rdparty/gtest-1.7.0.zip
/3rdparty/gtest-1.7.0/
/3rdparty/libarchive-3.1.2.tar.gz
/3rdparty/libarchive-3.1.2/
/3rdparty/stamp/
/3rdparty/tmp/
/3rdparty/usr/
/bin
/tests/Testing
